html {
  font-family: 'Crimson Text', serif;
}

.flex {
  display: flex;
}

.flex--center {
  justify-content: center;
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

.text-white {
  color: #fafafa;
}

.cover {
  height: 100vh;
  width: 100vw;
  transition: 1.6s cubic-bezier(0.76, 0, 0.24, 1);
  overflow-x: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

#cover-1 {
  z-index: 1002;
  background-color: #ef9a9a;
  position: fixed;
  top: 0;
  left: 0;
}

#cover-2 {
  z-index: 1001;
  position: fixed;
  top: 100vh;
  left: 0;
}
#cover-3 {
  z-index: 1000;
  position: fixed;
  top: 200vh;
  left: 0;
}

.upDisappear {
  transform: translateY(-100%);
}
